/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* asterisk wildcard commandto override default browser styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* General styles */
body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
}


.logo {
    width: 20px;
    padding-right: 5px;
}

.heading {
    font-size: 2.5rem;
    color: rgb(202 45 37);
}

.quiz-area {
    background-color: rgb(202 45 37);
    width: 90%;
    min-height: 500px;
    max-width: 700px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answer {
    background-color: #fff;
    color: black;
    font-size: 130%;
    font-weight: 600;
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

.answer-area,
.question-area {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;

}

.answer-area {
    flex-direction: column;
}

.question-area {
    justify-content: center;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 12px;
    width: 100%;
}

#play-again {

    display: none;
    background-color: #fff;
    color: black;
    font-size: 130%;
    font-weight: 600;
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
}

#answer-buttons>button {
    width: 100%;
}

.score-area {
    margin-top: 8px;
}

@media (min-width: 1200px) {
    #answer-buttons {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}